<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/header') %>
  </head>
  <body class="bg-dark">
    <%- include('partials/navigation') %>

    <!-- MAIN CONTENT -->

    <header
      class="container d-flex justify-content-center align-items-center vh-75"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-1 my-5 fw-bold text-white">Dashboard</h1>
        <h3 class="fw-bold text-white">DriveTest Booking Kiosk</h3>
      </div>
    </header>

    <!-- section one -->
    <div class="container-fluid bg-light" id="about">
      <div class="row bg-light p-5 text-center">
        <div class="col-md-12 text-center">
          <h3>You can book G2/G drive test from this Kiosk</h3>
          <p>you can book G2/G drive test from this Kiosk</p>
          <small>Posted by DriveTest Center</small>
        </div>
      </div>
    </div>
  </body>
</html>
